.header, .footer {
    background-color: rgba(192, 34, 184, 0.555);
    font-size: large;
    color: bisque;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
  }

  .nav-right{
    float: right;
  }
  .nav-right a{
    color: bisque;
  }
  .nav-right a:hover{
    color: darkred;
  }
  .nav-right a:visited{
    color: rgb(155, 69, 76);
  }



